./Rproj.user
.Rhistory
.RData
.Ruserdata
**/.ipynb_checkpoints/*
ScatteringModels/.ipynb_checkpoints/*.ipynb
*/.ipynb_checkpoints/*
figure*.png
.Rproj.user
./*/*.feather
./ZooScatStuff/*.html
./ZooScatStuff/*.sat
./ZooScatStuff/*.txt
./ZooScatStuff/*.tif
./ZooScatStuff/*.pkl